:root{
    --dark-teal: #8bc5b9;
    --light-teal: #cedcc5;
    --dark-rose: #cb6e8e;
    --light-rose: #f2b3aa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(
        to bottom, 
        var(--dark-teal), 
        var(--light-teal),
        var(--light-rose), 
        var(--dark-rose)
    );
    min-height: 100vh;
}
.container{
    width: 40%;
}
.container .success{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem 1.5rem;
}
.container .success h2{
    font-family: "Yanone Kaffeesatz", serif; 
    background: linear-gradient(to right, var(--dark-teal) ,var(--dark-rose)); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-size: 70px;
}
.container img{
    border-radius: 10px;
}
.progress-bar{
    background-color: var(--dark-teal);
}
.container p{
    background:var(--dark-rose); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font: weight 200px;;
}
