:root{
    --dark-teal: #8bc5b9;
    --light-teal: #cedcc5;
    --dark-rose: #cb6e8e;
    --light-rose: #f2b3aa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
}
.row .left img{
    width: 95%;
    height: 450px;
    border-radius: 10px;
}
.row .left{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom, 
        var(--dark-teal), 
        var(--light-teal),
        var(--light-rose), 
        var(--dark-rose)
    );
    box-shadow: 1px 1px 10px #aaa;
    border-radius: 10px 0 0 10px;
}
.row .right{
    /* background-color: #fff; */
    box-shadow: 1px 1px 10px #aaa;
    border-radius: 0 10px 10px 0;
    padding: 4rem 3rem 2rem;
}
.row .right h2{
    font-family: "Dancing Script", serif;
    /* font-family: "Yanone Kaffeesatz", serif; */
    font-size: 40px;
    background: linear-gradient(to right, var(--dark-teal), var(--dark-rose),var(--light-rose)); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center;
}
.row .right label{
    font-size: 1.2rem;
}
.row .right input{
    box-shadow: 1px 1px 10px  #aaa;
    border: none;
    outline: none;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    /* width: 90%; */
}
.row .right .emailErr , .passErr , .subErr{
    color: var(--dark-rose);
    margin-bottom: 0.5rem;
}
.row .right button[type="submit"]{
    background-color: #cb6e8e;
    border-radius: 5px;
    width: 50%;
    padding: 0.7rem;
    background: linear-gradient(
        to left,
        var(--dark-teal), 
        var(--light-teal),
        var(--light-rose), 
        var(--dark-rose)
    );
    font-weight: bold;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    background-position: left;
    transition: background-position 0.5s ease; 
    background-size: 150%; 
    text-transform: uppercase;
}
.row .right button[type="submit"]:hover{
    background-position: right;
}
.row .right p{
    text-align: center;
}
.row .right a{
    color: var(--dark-rose);
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.3rem;
}
.row .right a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    .row .left img{
        width: 95%;
        height: 400px;
    }
}
@media screen and (max-width: 991px) {
    .container{
        width: 90%;
    }
    .row .left{
        border-radius: 0;
        padding: 1rem 0;
        border-radius: 10px 10px 0 0;
    }
    .row .left img{
        width: 70%;
        height: 500px;
    }
    .row .right{
        border-radius: 0 0 10px 10px;
    }
}
@media screen and (max-width: 768px) {
    .row .left img{
        width: 90%;
        height: 400px;
    }
}
@media screen and (max-width: 500px) {
    .row .left img{
        width: 90%;
        height: 300px;
    }
}