:root{
    --dark-teal: #8bc5b9;
    --light-teal: #cedcc5;
    --dark-rose: #cb6e8e;
    --light-rose: #f2b3aa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(
        to bottom, 
        var(--dark-teal), 
        var(--light-teal),
        var(--light-rose), 
        var(--dark-rose)
    );
    min-height: 100vh;
}
.container{
    width: 40%;
}
.content{
    background-color: #fff;
    box-shadow: 1px 1px 10px #aaa;
    padding: 2rem;
    border-radius: 10px;
    text-transform: capitalize;
    text-align: center;
}
.content h2{
    background: linear-gradient(to right, var(--dark-teal), var(--dark-rose)); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-family: "Yanone Kaffeesatz", serif; 
    font-size: 40px;
}
.content p{
    font-size: 22px;
    text-align: left;
}
.content ol li{
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 18px;
}
.content img{
    border-radius: 10px;
}
.content button{
    display: block;
    margin: 2rem auto 0;
    width: 50%;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(
        to left,
        var(--dark-teal),
        var(--light-teal),
        var(--light-rose),
        var(--dark-rose)
    );
    background-size: 150%; 
    background-position: left;
    text-transform: uppercase;
    transition: background-position 0.5s ease; 
}
.content button:hover {
    background-position: right; 
}

/* Media Queries */
@media screen and (max-width: 1400px) {
    .content img{
        width: 430px;
    }
}
@media screen and (max-width: 1300px) {
    .container{
        width: 50%;
    }
    .content img{
        width: 430px;
    }
}
@media screen and (max-width: 1024px) {
    .content img{
        width: 400px;
    }
}
@media screen and (max-width: 991px) {
    .container{
        width: 60%;
    }
    .content img{
        width: 400px;
    }
}
@media screen and (max-width: 800px) {
    .container{
        width: 70%;
    }
    .content img{
        width: 400px;
    }
}
@media screen and (max-width: 700px) {
    .content img{
        width: 340px;
    }
}
@media screen and (max-width: 600px) {
    .container{
        width: 80%;
    }
    .content img{
        width: 330px;
    }
    .content button{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .container{
        width: 90%;
    }
    .content img{
        width: 280px;
    }
}
@media screen and (max-width: 400px) {
    .content img{
        width: 230px;
    }
    .content p{
        font-size: 20px;
    }
}